<h1>Edit Song</h1>

<%= form_for @song do |t| %>

  <% if @song.errors.any? %>
    <div id="error">
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= t.label :title %>
  <%= t.text_field :title, value: @song.title %>

  <%= t.label :released %>
  <%= t.check_box :released %>

  <%= t.label :release_year %>
  <%= t.text_field :release_year, value: @song.release_year %>

  <%= t.label :artist_name %>
  <%= t.text_field :artist_name, value: @song.artist_name %>

  <%= t.label :genre %>
  <%= t.text_field :genre, value: @song.genre %>

  <%= t.submit %>
<% end %>
